<ion-header>
  <ion-toolbar color="danger" style="text-align: center;">
    <ion-buttons style="float: inline-start;">
      <ion-button>
        <ion-icon name="arrow-back" style="padding-left: 10px; font-size: 200%;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label style="font-size: 120%; padding-top: 5px;">Pencarian</ion-label>
    <ion-buttons style="float: inline-end;">
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Pencarian"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-label>Burger</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Siomay</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Nasi Goreng</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Mie Aceh</ion-label>
		</ion-item>
	</ion-list>
</ion-content>