<ion-header>
  <ion-toolbar color="danger" style="text-align: center;">
    <ion-buttons style="float: inline-start;">
      <ion-button (click)="kembali()">
        <ion-icon  name="arrow-back" style="padding-left: 10px; font-size: 120%;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card>
    <ion-item>
    
      <ion-avatar item-start>
        <img src="assets/fotoburgerabi.jpg">
      </ion-avatar>
      <ion-label style="padding-left: 10px;">
        <h2>Abi Burger</h2>
        </ion-label>
    </ion-item>
  
    <ion-card-content>
      <p>Pengikut     348</p>
      <h2>Mengikuti   27</h2>
    </ion-card-content>

    <ion-row>
      
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="add"></ion-icon>
          <div>Ikuti
          </div>
        </button>
      </ion-col>
<h2></h2>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>Chat</div>
        </button>
      </ion-col>

      <ion-col align-self-center text-center>
        <ion-note>
          Online
        </ion-note>
      </ion-col> 
    </ion-row>

  </ion-card>
  
</ion-header>

<ion-content>

<ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/mieburger.jpg" >
      </ion-thumbnail>
      <ion-label style="padding-left: 10px;">
        <h2>Mie Burger</h2>
        <p>Rp. 5000</p>
        </ion-label>
      <ion-button (click)="burger1()" clear item-end>View</ion-button>
    </ion-item>
  </ion-list>

<ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/burgermini.jpg">
        </ion-thumbnail>
        <ion-label style="padding-left: 10px;">
            <h2>Burger Mini</h2>
            <p>Rp. 5000</p>
            </ion-label>
          <ion-button (click)="burger2()" clear item-end>View</ion-button>
      </ion-item>
    </ion-list>

<ion-list>
      <ion-item>
        <ion-thumbnail item-start>
            <img src="assets/burgerpancong.jpg">
          </ion-thumbnail>
          <ion-label style="padding-left: 10px;">
              <h2>Burger Pancong</h2>
              <p>Rp. 7000</p>
              </ion-label>
            <ion-button (click)="burger3()" clear item-end>View</ion-button>
        </ion-item>
      </ion-list>

      <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
                <img src="assets/burgerkampoeng.jpg">
              </ion-thumbnail>
              <ion-label style="padding-left: 10px;">
                  <h2>Burger Kampoeng</h2>
                  <p>Rp. 10000</p>
                  </ion-label>
                <ion-button (click)="burger4()" clear item-end>View</ion-button>
            </ion-item>
          </ion-list>

          <ion-list>
              <ion-item>
                <ion-thumbnail item-start>
                    <img src="assets/burgerenak.jpg">
                  </ion-thumbnail>
                  <ion-label style="padding-left: 10px;">
                      <h2>Burger Madu</h2>
                      <p>Rp. 36000</p>
                      </ion-label>
                    <ion-button (click)="burger5()" clear item-end>View</ion-button>
                </ion-item>
              </ion-list>

              <ion-list>
                  <ion-item>
                    <ion-thumbnail item-start>
                        <img src="assets/burgerkentang.jpg">
                      </ion-thumbnail>
                      <ion-label style="padding-left: 10px;">
                          <h2>Burger Kentang</h2>
                          <p>Rp. 38000</p>
                          </ion-label>
                        <ion-button (click)="burger6()" clear item-end>View</ion-button>
                    </ion-item>
                  </ion-list>

</ion-content>
a