<ion-content>
   
  <ion-searchbar (ionInput)="getItems($event)"> </ion-searchbar>
    <div style="text-align: center;">
      <img src="/assets/beranda.jpeg" alt="" style="width: 100%; position: relative; padding-top: 10px;"/>
  </div>
  
  <ion-card color="light">
    <ion-card-content>
      <ion-item color="danger" lines="none" style="padding-bottom: 60px;">
        <ion-icon name="wallet" style="padding-right: 10px;"></ion-icon>
        <ion-label>K-LIMA PAY</ion-label>
        <div style="text-align: end;">
          <ion-label>Rp. 2.000.709,-</ion-label>
        </div>
        
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button color="danger" expand="full">
            <ion-icon name="arrow-round-up" style="padding-right: 5px;"></ion-icon>
            <ion-label>TOP UP</ion-label>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" expand="full">
            <ion-icon name="arrow-round-down" style="padding-right: 5px;"></ion-icon>
            <ion-label>TARIK</ion-label>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" expand="full">
            <ion-icon name="cash" style="padding-right: 5px;"></ion-icon>
            <ion-label>HISTORY</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  
  <ion-item-divider sticky>
    <ion-label>Jajanan Terlaris</ion-label>
  </ion-item-divider>
  
   <ion-row>
    <ion-col>
      <ion-button expand="block" color="danger" >
        <ion-icon name="restaurant" style="padding-right: 10px;"></ion-icon>
        <ion-label>Burger</ion-label>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="danger" >
        <ion-icon name="ice-cream"> style="padding-right: 10px;"></ion-icon>
        <ion-label>Ice Cream</ion-label>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="danger" >
        <ion-icon name="pizza" style="padding-right: 10px;"></ion-icon>
        <ion-label>Pizza Aceh</ion-label>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="danger" fill="outline">
        <ion-label>Lainnya</ion-label>
        <ion-icon name="arrow-round-forward" style="padding-left: 10px;"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  
    <ion-item-divider sticky>
    <ion-label>K-LIMA Hot Products</ion-label>
  </ion-item-divider>

  <ion-slides pager>

    <ion-slide>
      <ion-card color="light">
        <img src="/assets/k3.bmp" alt="" style="background: rgb(255, 196, 0);"/>
        <ion-card-content>Bakso Bakar dengan Hati</ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card color="light">
        <img src="/assets/k2.jpg" alt="" style="background: rgb(255, 196, 0);"/>
        <ion-card-content>Kebab Cinta Segitiga</ion-card-content>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card color="light">
        <img src="/assets/k1.gif" alt="" style="background: rgb(255, 196, 0);"/>
        <ion-card-content>Burger Asik Sendiri</ion-card-content>
      </ion-card>
    </ion-slide>
    
  </ion-slides>

  
  <ion-list>
    <h6 style="padding-left: 15px;">Jajanan Terhits ini dekat dengan daerahmu !!</h6>
    <ion-item>
      <h5 style="padding-right: 10px;">1.</h5>
      <ion-avatar>
        <img src="/assets/asset1.jpg" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Bang Jaly</h2>
        <p>Roti Bakar bakar kenyang</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">2.</h5>
      <ion-avatar>
        <img src="/assets/asset2.jpg" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>ABY Burger</h2>
        <p>Burger Komplitin ajaahh</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">3.</h5>
      <ion-avatar>
        <img src="/assets/siomay.jpg" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Siomay Mamang</h2>
        <p>Siomay Bandung Dadakan!!!</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">4.</h5>
      <ion-avatar>
        <img src="/assets/sate.jpg" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Sate Kang Abas</h2>
        <p>Sate Kambing Udah Mandi</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">5.</h5>
      <ion-avatar>
        <img src="/assets/Mie.png" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Mie Cut Mun</h2>
        <p>Mie Aceh BARBAR Paling Enak</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">6.</h5>
      <ion-avatar>
        <img src="/assets/asset3.jpg" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Bangbang Burger</h2>
        <p>Burger Mini the pooh</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

