<ion-header>
    <ion-toolbar color="danger" style="text-align: center;">
      <ion-buttons style="float: inline-start;">
        <ion-button>
          <ion-icon name="arrow-back" style="padding-left: 10px; font-size: 120%;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="danger">
      <ion-searchbar (ionInput)="getItems($event)" placeholder="Pencarian"></ion-searchbar>
      <ion-list>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/burger.jpg" >
            </ion-avatar>
            <ion-label style="padding-left: 10px;">
              <h2>Abi Burger</h2>
              <p><ion-button clear item-end>Buka</ion-button></p>
              </ion-label>
              <div style="font-size: 15px;">
                  <ion-icon name="pin"></ion-icon>
                  <ion-label style="float: right;">Darussalam</ion-label>
              </div>   
          </ion-item>
        </ion-list>
    </ion-toolbar>
    
    

</ion-header>

<ion-content>

</ion-content>
