<ion-content color="primary" padding>
<div style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
	<ion-icon name+"person-add" style+"font-size: 300%;"></ion-icon>
</div>
</ion-item>
<div style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
	<ion-button style="text-align": center;">Ambil di tempat</ion-button> </div>
	</div>
	</ion-item>
<div style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
	<ion-button style="text-align": center;">Pesan Antar</ion-button> </div>
</ion-content>	

